@charset "UTF-8";

@font-face {
  font-family: "untitled-font-9";
  src:url("fonts/untitled-font-9.eot");
  src:url("fonts/untitled-font-9.eot?#iefix") format("embedded-opentype"),
    url("fonts/untitled-font-9.woff") format("woff"),
    url("fonts/untitled-font-9.ttf") format("truetype"),
    url("fonts/untitled-font-9.svg#untitled-font-9") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "untitled-font-9" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "untitled-font-9" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-all-icons-4-38:before {
  content: "a";
}
.icon-all-icons-4-65:before {
  content: "b";
}
.icon-all-icons-4-14:before {
  content: "d";
}
.icon-all-icons-4-27:before {
  content: "e";
}
.icon-all-icons-4-28:before {
  content: "f";
}
.icon-all-icons-4-15:before {
  content: "g";
}
.icon-all-icons-4-02:before {
  content: "h";
}
.icon-all-icons-4-03:before {
  content: "i";
}
.icon-all-icons-4-04:before {
  content: "j";
}
.icon-all-icons-4-05:before {
  content: "k";
}
.icon-all-icons-4-06:before {
  content: "l";
}
.icon-all-icons-4-07:before {
  content: "m";
}
.icon-all-icons-4-08:before {
  content: "n";
}
.icon-all-icons-4-09:before {
  content: "o";
}
.icon-all-icons-4-10:before {
  content: "p";
}
.icon-all-icons-4-11:before {
  content: "q";
}
.icon-all-icons-4-12:before {
  content: "r";
}
.icon-all-icons-4-13:before {
  content: "s";
}
.icon-all-icons-4-16:before {
  content: "t";
}
.icon-all-icons-4-17:before {
  content: "u";
}
.icon-all-icons-4-18:before {
  content: "v";
}
.icon-all-icons-4-19:before {
  content: "w";
}
.icon-all-icons-4-21:before {
  content: "x";
}
.icon-all-icons-4-22:before {
  content: "y";
}
.icon-all-icons-4-23:before {
  content: "z";
}
.icon-all-icons-4-24:before {
  content: "A";
}
.icon-all-icons-4-25:before {
  content: "B";
}
.icon-all-icons-4-26:before {
  content: "C";
}
.icon-all-icons-4-40:before {
  content: "D";
}
.icon-all-icons-4-39:before {
  content: "E";
}
.icon-all-icons-4-37:before {
  content: "F";
}
.icon-all-icons-4-36:before {
  content: "G";
}
.icon-all-icons-4-35:before {
  content: "H";
}
.icon-all-icons-4-34:before {
  content: "I";
}
.icon-all-icons-4-20:before {
  content: "J";
}
.icon-all-icons-4-33:before {
  content: "K";
}
.icon-all-icons-4-32:before {
  content: "L";
}
.icon-all-icons-4-31:before {
  content: "M";
}
.icon-all-icons-4-30:before {
  content: "N";
}
.icon-all-icons-4-29:before {
  content: "O";
}
.icon-all-icons-4-41:before {
  content: "P";
}
.icon-all-icons-4-42:before {
  content: "Q";
}
.icon-all-icons-4-43:before {
  content: "R";
}
.icon-all-icons-4-44:before {
  content: "S";
}
.icon-all-icons-4-45:before {
  content: "T";
}
.icon-all-icons-4-46:before {
  content: "U";
}
.icon-all-icons-4-47:before {
  content: "V";
}
.icon-all-icons-4-48:before {
  content: "W";
}
.icon-all-icons-4-49:before {
  content: "X";
}
.icon-all-icons-4-50:before {
  content: "Y";
}
.icon-all-icons-4-51:before {
  content: "Z";
}
.icon-all-icons-4-52:before {
  content: "0";
}
.icon-all-icons-4-53:before {
  content: "1";
}
.icon-all-icons-4-54:before {
  content: "2";
}
.icon-all-icons-4-55:before {
  content: "3";
}
.icon-all-icons-4-56:before {
  content: "4";
}
.icon-all-icons-4-57:before {
  content: "5";
}
.icon-all-icons-4-58:before {
  content: "6";
}
.icon-all-icons-4-59:before {
  content: "7";
}
.icon-all-icons-4-60:before {
  content: "8";
}
.icon-all-icons-4-61:before {
  content: "9";
}
.icon-all-icons-4-62:before {
  content: "!";
}
.icon-all-icons-4-63:before {
  content: "\"";
}
.icon-all-icons-4-64:before {
  content: "#";
}
.icon-vector-smart-object-02:before {
  content: "c";
}
